# Node
node_modules/

# Vite
dist/

# Environment
*.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
build/
dist/

# Misc
*.keystore

# Ignore nested git backups if any
.git_backup/

# Ignore Rapport files
*.pdf