PORT=8006
# MONGODB_URI=mongodb://localhost:27017/ent_calendar_service
MONGODB_URI="mongodb+srv://iarrahou_db_user:uR5TwbEMqjCsMLEm@cluster0.bvcjxcn.mongodb.net/ent-est-sale"

NODE_ENV=development
AUTH_SERVICE_URL=http://localhost:8001
