PORT=8009
MONGODB_URI=mongodb+srv://iarrahou_db_user:uR5TwbEMqjCsMLEm@cluster0.bvcjxcn.mongodb.net/ent-est-sale
# MONGODB_URI=mongodb://localhost:27017/ent_admin_service

NODE_ENV=development
AUTH_SERVICE_URL=http://localhost:8001
